{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
    <title>Cards</title>
</head>

<body>
    <div>
        <div class="pdf-content">
            <h2>Thanks for shopping at Fadhila.</h2>
            <p>Here are your cards</p>
            <h5>You have received
                <ul>
                    <li>{{serials_premium.length}} premium cards</li>
                    <li>{{serials_regular.length}} regular cards</li>
                </ul>
            </h5>
            <p>Instructions</p>
            <p>
                Once you receive the cards, print them at your nearest printing store. Then, login to your dashboard and
                enter the serial number of your card in the
                Verification field to verify. Once verified your card will be visible to you on your dashboard and you
                can track it from there. Ideally, you should verify your batch of 8 cards the moment you receive
                them
            </p>
            <br><br><br><br>
            <div class="row card-row">
                {% for serial in serials_premium  %}
                <div class="
                    col-lg-6 col-sm-6 d-flex align-items-center card-slot">
                    <img src="{% static 'images/programmer.png' %}" alt="programmer image" class="w-100  card-img" />
                    <h3 class="position-absolute ml-auto serial-txt">{{serial}}</h3>
                </div>
                {% endfor %}
            </div>

            <div class="row card-row">
                    {% for serial in serials_regular  %}
                    <div class="
                        col-lg-6 col-sm-6 d-flex align-items-center card-slot">
                        <img src="{% static 'images/programmer.png' %}" alt="programmer image" class="w-100  card-img" />
                        <h3 class="position-absolute ml-auto serial-txt">{{serial}}</h3>
                    </div>
                    {% endfor %}
                </div>
            <br></br><br></br>
            <div class="footer">
                <p>Fadhila Team &copy; 2019</p>
            </div>
        </div>
    </div>

</body>

</html>