@import url('https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap');
body{
    width: 60%;
    min-width: 350px;
    margin: auto;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #00000059;
    font-family: 'Darker Grotesque', sans-serif;
}
.title{
    background: #4abdac;
    font-size: 24px;
    padding: 3% 5%;
    width: 100%;
    color: #fff;
}
.content{
    font-size: 16px;
    background: rgb(246, 246, 246);
    width: 100%;
    padding: 5%;
    margin: auto;
}
.footer{
    color: rgb(117, 117, 117);
}
.link{
    display: inline-block;
    padding: 12px 20px;
    font-size: 12px;
    background: #f7b733;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 0px 10px #00000059;
    margin: auto;
}
@media screen and (max-width: 768px){
    body{
       width:100%; 
    } 
}