{% load inlinecss %}
{% inlinecss "css/email.css" %}

<html lang="en">

<body>
    <div class="title">Hi {{ user.username }},</div>
    <div class="content">
        <h2>Welcome to Fadhila.</h2>
        You are receiving this email because you created an account
        on Fadhila.<br></br><br></br>
        Please click on the link below to confirm your registration<br></br><br></br>
        <a class="link" href="{{ domain }}/activate/{{ uid }}/{{token}}">Click here</a>
        <br></br><br></br>
        <div class="footer">
                <p>Fadhila Team &copy; 2019</p>
        </div>
    </div>
</body>

{% endinlinecss %}
